@mixin rank-num($url){
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: -30px;
		@include  icon-set(50px,40px,$url)
	}
}

body{
	background: #fff;
}

.ranklist{
	color: #333;
	font-size: 0;
	.ranklist-item{
		height: 100px;
		line-height: 100px;
		padding: 0 24px;
		font-size: 24px;
		&:last-child,&.self{
			.content{
				border-bottom: 0;
			}
		}
		&.self{
			background: #e1fffd;
		}
		.content{
			@extend .clearfix;
			border-bottom: 1px solid #dedede;/* px */

			.rank-num{
				position: relative;
				display: inline-block;
				text-align: center;
				width: 60px;
				&.number-1{
					@include rank-num('../images/rank-1.png');
				}
				&.number-2{
					@include rank-num('../images/rank-2.png');
				}
				&.number-3{
					@include rank-num('../images/rank-3.png');
				}
			}
			.head-img{
				vertical-align: middle;
				width: 61px;
				height: 61px;
			}
			.name{
				margin-left: 20px;
			}
			.gold{
				color: #666;
				float: right;
			}

		}
	}
}